**Q1. Create one variable containing following type of data:**
* string
*  list
* float
*  tuple

In [1]:
# String

s = "Shrasth Kumar"

In [2]:
#list

l = [2,3,4,5,"pw",True, 7+6j]

In [3]:
# float

f = 6.14

In [4]:
# Tuple

t = (2,3,4,5,6)

**Q2. Given are some following variables containing data:**
* var1 = ‘ ‘
* var2 = ‘[ DS , ML , Python]’
* var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
* var4 = 1.

What will be the data type of the above given variable.

* var1 = ' ' is a string
* var2 = ‘[ DS , ML , Python]’ is a string
* var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] is a list
* var4 = 1. is a float

**Q3. Explain the use of the following operators using an example:**

1. /
1.  %
1. //
1.  **

**Division operator ('/')**

The division operator is used for division between two operands.

In [12]:
# Example for division operator:
a = 6
b=3

div = a/b
print(div)

2.0

**Modulo operator ('%')**

The modulo operator returns the remainder between two operands.

In [14]:
#Example of Modulo operator:
a = 6
b=4

rem = a%b
print(rem)

2

**Floor Division Operator ('//')**

The floor division operator performs division between two operands

In [17]:
#Example for floor division operator ('//')

a = 7
b=3

floor = a//b
print(floor)

2

**Power Operator ('**')**

The power operator ** raises the first operand to the power of the second operand.

In [19]:
#Example for power operator ('**')

a = 7
b=3

power = a**b
print(power)

343

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.**

In [20]:
l = [2,3,4,56,73,"sw","team",True,7+5j,14.28]

In [21]:
for i in l:
    print(f"element: {i} \n Data type: {type(i)}")

element: 2
 Data type: <class 'int'>
element: 3
 Data type: <class 'int'>
element: 4
 Data type: <class 'int'>
element: 56
 Data type: <class 'int'>
element: 73
 Data type: <class 'int'>
element: sw
 Data type: <class 'str'>
element: team
 Data type: <class 'str'>
element: True
 Data type: <class 'bool'>
element: (7+5j)
 Data type: <class 'complex'>
element: 14.28
 Data type: <class 'float'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.**

In [5]:
A = 21
B = 2
count = 0

while A>=B and A % B==0:
    A = A // B
    count +=1
    
if count !=0:
    print(f"A is divisible by B and it can be divided {count} times")
else:
    print(f"A is not divisible by B.")

A is not divisible by B.

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.**

In [9]:
d = [4, 9, 12, 7, 18, 15, 21, 2, 5, 30, 11, 27, 8, 13, 16, 33, 20, 22, 3, 10, 25, 14, 19, 24, 6]

for i in d:
    if i %3 ==0:
        print("{i} is divisible by 3")
    else:
        print("{i} is not divisible by 3")

{i} is not divisible by 3
{i} is divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is not divisible by 3
{i} is divisible by 3
{i} is divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**

In immutables data types values cannot be changed once they are created.

In [17]:
# For example here is the string s:

s = "Shrasth"

In [15]:
s

'Shrasth'

In [16]:
s[2] = "t"

TypeError: 'str' object does not support item assignment

While trying to replace "r" with "t" it showed a TypeError.

In mutables data types values can be changed after they are created.

In [18]:
# for example here is the list t:
q = [2,3,4,56,73,"sw","team",True,7+5j,14.28]

In [19]:
q

[2, 3, 4, 56, 73, 'sw', 'team', True, (7+5j), 14.28]

In [20]:
q[6] = False

In [21]:
q

[2, 3, 4, 56, 73, 'sw', False, True, (7+5j), 14.28]

As you can see the value "team" has been replaced with value False